/* Write your CSS here */
.destination-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.heading {
  color: #000000;
  font-family: 'Roboto';
  text-align: center;
}
.input-element-container {
  background-color: #f1f5f9;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}
.input-bar {
  border: 0px;
  background-color: #f1f5f9;
  font-family: 'Roboto';
}
.search-img {
  height: 15px;
  width: 15px;
}
.items-container {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-wrap: wrap;
}
